#Market Basket Analysis Project

Which Item has the highest frequency?

#Pre-requisites

In [23]:
# Import the required libraries
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

#Loading the Data

In [150]:
# Using the following shop dataset determine which items have a strong association 
df = pd.read_csv("https://bit.ly/30A2gHO")
df.head()

       A  Quantity  Transaction  Store    Product
0  30000         2        93194      6   Magazine
1  30001         2        93194      6  Candy Bar
2  30002         2        93194      6  Candy Bar
3  30003         2        93194      6  Candy Bar
4  30004         2        93194      6  Candy Bar

In [151]:
# Data processing 
# ---
# We group the dataframe by Transaction 
# and Item and display the count of items
df2 = df.groupby(["Transaction","Product"]).size().reset_index(name="Count")
df2.head()

   Transaction    Product  Count
0        93194  Candy Bar      4
1        93194   Magazine      1
2        93197    Pencils      1
3        93200  Candy Bar      3
4        93200   Magazine      1

#Data processing

In [152]:
# Then we consolidate the items into one transaction per row 
# with each item one-hot encoded.
df3 = (df2.groupby(['Transaction', 'Product'])['Count']
          .sum().unstack().reset_index().fillna(0)
          .set_index('Transaction'))
df3.head()

Product      Bow  Candy Bar  Deodorant  ...  Toothbrush  Toothpaste  Wrapping Paper
Transaction                             ...
93194        0.0        4.0        0.0  ...         0.0         0.0             0.0
93197        0.0        0.0        0.0  ...         0.0         0.0             0.0
93200        0.0        3.0        0.0  ...         0.0         0.0             0.0
93206        0.0        0.0        0.0  ...         0.0         0.0             0.0
93212        0.0        0.0        0.0  ...         1.0         0.0             0.0

[5 rows x 17 columns]

In [153]:
# Data processing
# ---
# We then use our custom encoding function to convert 
# all the values to 0 or 1. 
# The Apriori algorithm will only take 0's or 1's.
# ---
# 
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

df4 = df3.applymap(encode_units)
df4.head()

Product      Bow  Candy Bar  Deodorant  ...  Toothbrush  Toothpaste  Wrapping Paper
Transaction                             ...
93194          0          1          0  ...           0           0               0
93197          0          0          0  ...           0           0               0
93200          0          1          0  ...           0           0               0
93206          0          0          0  ...           0           0               0
93212          0          0          0  ...           1           0               0

[5 rows x 17 columns]

In [155]:
# We generate the frequent itemsets
frequent_df = apriori(df4, min_support=0.2, use_colnames=True)
frequent_df.head()

    support    itemsets
0  0.231936  (Magazine)

Observation Magazine is the highest frequent itemset

In [156]:
# Step 3: Finding the association rules
rules = association_rules(frequent_df, metric="lift", min_threshold=1)

# Sorting 
rules.sort_values("confidence", ascending = False, inplace = True)

# Previewing the associative rules
rules.head()

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []