In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xlrd
from scipy import stats as st

In [2]:
#defining the dictionary on the two tariffs
Surf = {'minutes_used': 500, 'monthlySMS':50, 'monthlyGB': 15,
              'costperminute': 0.03, 'cost_per_sms':0.03,
               'costperGB':10, 'monthlycharge': 20}
               
Ultimate = {'minutes_used': 3000, 'monthlySMS':1000, 'monthlyGB': 30,
              'costperminute': 0.01, 'cost_per_sms':0.01,
               'costperGB':7, 'monthlycharge': 70}

In [4]:
#importing the data and removing any null/ missing data in our data sets and removing duplicates
# Give the location of the file-Messages
mega_message =pd.read_csv("/content/megamessage_telco.csv")
mega_message.head(5)

         id  user_id message_date
0  1000_125     1000   2018-12-27
1  1000_160     1000   2018-12-31
2  1000_223     1000   2018-12-31
3  1000_251     1000   2018-12-27
4  1000_255     1000   2018-12-26

In [5]:
mega_calls =pd.read_csv("/content/megatelco_calls.csv")
mega_calls=mega_calls.dropna()
mega_calls.head()

         id  user_id   call_date  duration
0   1000_93     1000  2018-12-27      8.52
1  1000_145     1000  2018-12-27     13.66
2  1000_247     1000  2018-12-27     14.48
3  1000_309     1000  2018-12-28      5.76
4  1000_380     1000  2018-12-30      4.22

In [6]:
mega_internet =pd.read_csv("/content/megatelco_internet.csv")
mega_internet=mega_internet.dropna()

In [7]:
mega_plan =pd.read_csv("/content/megatelco_plans.csv")
mega_plan=mega_plan.dropna()

In [8]:
mega_users =pd.read_csv("/content/megatelco_users.csv")
mega_users=mega_users.dropna()

In [ ]:
mega_calls.drop_duplicates()

In [ ]:
mega_internet.drop_duplicates()

In [ ]:
mega_plan.drop_duplicates()

In [ ]:
mega_users.drop_duplicates()

In [ ]:
#Grouping the data into months-Data usage per month and getting the usage per individual per month
mega_internet['month'] = pd.DatetimeIndex(mega_internet['session_date']).month
pd.pivot_table(mega_internet, index=['user_id'], aggfunc={'mb_used': np.sum})

In [14]:
mega_internet.shape

(67436, 5)

In [15]:
mega_calls.shape

(70493, 4)

In [ ]:
#minutes used per month
mega_calls['month'] = pd.DatetimeIndex(mega_calls['duration']).month
pd.pivot_table(mega_calls, index=['user_id'], aggfunc={'duration': np.sum})

In [21]:
#No of calls made per month
#mega_calls['month'] = pd.DatetimeIndex(mega_calls['id']).month
pd.pivot_table(mega_calls, index=['user_id'], aggfunc={'id': np.sum})

                                                        id
user_id
1000     1000_931000_1451000_2471000_3091000_3801000_38...
1001     1001_01001_11001_21001_41001_51001_61001_81001...
1002     1002_01002_51002_81002_141002_171002_331002_34...
1003     1003_01003_11003_21003_31003_41003_51003_61003...
1004     1004_01004_11004_21004_31004_41004_51004_61004...
...                                                    ...
1247     1247_01247_11247_21247_31247_41247_51247_61247...
1248     1248_01248_11248_21248_31248_41248_51248_61248...
1249     1249_01249_11249_41249_91249_111249_121249_141...
1250     1250_01250_11250_21250_31250_41250_51250_61250...
1251     1251_01251_11251_21251_31251_41251_51251_61251...

[241 rows x 1 columns]

In [20]:
#messages per month
msg_df = mega_message.groupby(['user_id', 'message_date']).message_date.count()
msg_df.head()

user_id  message_date
1000     2018-12-25      1
         2018-12-26      1
         2018-12-27      3
         2018-12-28      1
         2018-12-29      1
Name: message_date, dtype: int64

In [33]:
#Getting the standard deviation for messages
msg_df.std(axis = 0, skipna = True)

1.557347538874811

In [34]:
#Getting the standard deviation for No of calls
mega_calls.std(axis = 0, skipna = True)

user_id     71.214606
duration     5.840398
month        0.000000
dtype: float64

In [36]:
#Getting the standard deviation for internet
mega_internet.std(axis = 0, skipna = True)

user_id     87.094578
mb_used    277.006345
month        2.455065
dtype: float64

In [41]:
#hypothesis testing 

alpha = .05
print('mean before:', pd.Series(Surf).mean())
print('mean after:', pd.Series(Ultimate).mean())

alpha = .05

optimal_value = 20

results = st.ttest_ind(Surf, Ultimate)
if results.pvalue < alpha:
    print("We reject the null hypothesis")
else:
    print("We can't reject the null hypothesis")

mean before: 85.00857142857141
mean after: 586.7171428571429

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:269: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)
/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3622: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)

TypeError: ignored