In [ ]:
#importing libraries

import pandas as pd

from sklearn.linear_model import LinearRegression
# Importing pandas for data manipulation
# 
import pandas as pd 

# Importing numpy for mathematical functions
import numpy as np

diabetes_df = pd.read_csv('https://bit.ly/DiabetesDS')
diabetes_df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
diabetes_df.size

6912

In [ ]:
#checking our data
diabetes_df.shape

(768, 9)

In [ ]:
#Checking the statistical summary 
diabetes_df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
#checking for nulls
diabetes_df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

We do not have any null data in out data set

In [ ]:
# Data Preparation
feature = diabetes_df.DiabetesPedigreeFunction
target = diabetes_df.Outcome


feature = diabetes_df.iloc[:, :-1].values
target = diabetes_df.iloc[:, 1].values

In [ ]:
# Splitting the Dataset 
from sklearn.model_selection import train_test_split
feature_train, feature_test, target_train, target_test = train_test_split(feature, target, test_size=0.15, random_state=0)

In [ ]:
# Training the Algorithm
from sklearn.linear_model import LinearRegression
lr = LinearRegression() 
lr.fit(feature_train, target_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# Making Predictions
predicted_results = lr.predict(feature_test) #comparing actual and predicted results
diabetes_pred_df = pd.DataFrame({'Actual': target_test, 'Predicted': predicted_results})
diabetes_pred_df

    Actual  Predicted
0      199      199.0
1      107      107.0
2       76       76.0
3      166      166.0
4      111      111.0
..     ...        ...
72      86       86.0
73     183      183.0
74     171      171.0
75     137      137.0
76      68       68.0

[77 rows x 2 columns]

In [ ]:
#metric model evaluation
from sklearn import metrics 
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(target_test, predicted_results)))
print('R Squared:', metrics.r2_score(target_test, predicted_results))

Root Mean Squared Error: 4.335007887588386e-14
R Squared: 1.0

Findings and Recommendations:
The model accurately predicts the results from the result of th RMSE and R Squared value